{% extends 'index-base.html' %}
{% load static %}
{% block title %}
    <title>电影列表- layuiAdmin</title>
{% endblock %}
{% block my-style %}
    <style>
        /* 这段样式只是用于演示 */
        #LAY-component-grid-list .demo-list .layui-card {
            height: 267px;
        }

        .hidden {
            display: none;
        }
    </style>
{% endblock %}
{% block index-lbt %}
{% endblock %}
{% block index-middle %}
    <div class="layui-fluid layadmin-cmdlist-fluid">
        <div class="layui-row layui-col-space30">
            {% for movie in movies %}
                <div class="layui-col-md3 layui-col-sm4">
                    <div class="cmdlist-container">
                        <a href="{% url 'movie_detail' %}?movie_id={{ movie.id }}">
                            <img style="object-fit: cover; height: 560px;"
                                 data-original="{% static '' %}{{ movie.movie_img }}">
                        </a>
                        <a href="">
                            <div class="cmdlist-text">
                                <a href="{% url 'movie_detail' %}?movie_id={{ movie.id }}"><p
                                        class="info">{{ movie.movie_name }}</p></a>

                                <div class="price">
                                    <button
                                            style="margin: 0;padding: 0;border: none;outline: none;background-color: white;"
                                            class="i_1 a1-{{ movie.id }}" data-id="{{ movie.id }}">
                                        <i class="layui-icon layui-icon-username"></i>
                                        <b>{{ movie.look }}查看</b></button>
                                    <button
                                            style="margin: 0;padding: 0;border: none;outline: none;background-color: white;"
                                            class="i_2 a2-{{ movie.id }}" data-id="{{ movie.id }}">
                                        <i class="layui-icon layui-icon-rate"></i>
                                        <b>{{ movie.mark }}收藏</b></button>

                                    <button
                                            style="margin: 0;padding: 0;border: none;outline: none;background-color: white;"
                                            class="i_3 a3-{{ movie.id }}" data-id="{{ movie.id }}">
                                        {% if movie.record == "True" %}
                                        <i
                                            class="layui-icon "><img src="{% static 'imgs/zan.png' %}"
                                                                                      style="width:16px;"
                                                                                      class=""></i>
                                        {% else %}
                                            <i
                                            class="layui-icon layui-icon-praise"><img src="{% static 'imgs/zan.png' %}"
                                                                                      style="width:16px;"
                                                                                      class="hidden"></i>
                                        {% endif %}
                                        <b><p>{{ movie.like_num }}</p>点赞</b></button>


                                    <span class="flow down">
                                        <button
                                                style="margin: 0;padding: 0;border: none;outline: none;background-color: white;"
                                                class="i_4 a4-{{ movie.id }}" data-id="{{ movie.id }}">
                                        <i class="layui-icon layui-icon-download-circle"></i>
                                            <b>{{ movie.down }}下载</b></button>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="layui-col-md12 layui-col-sm12">
                <div id="demo0"></div>
            </div>
        </div>
    </div>


{% endblock %}
{% block my-js-code %}

    <script>
        window.onload = function () {

            {#getListData()  //请求数据#}
            getPage()     //分页操作
        }
        {#var page_ = 1; //设置首页页码#}
        var limit = 2;  //设置一页显示的条数
        var total;    //总条数
        function getListData(page) {
            console.log(page, "11111");

            $.ajax({
                url: window.location.href,
                data: {
                    page: page,
                },

                success: function (data) {
                    setTimeout(function () {
                        var href_name = $(location).attr("href");
                        console.log(href_name);
                        var result = href_name.split("&");
                        $(location).attr("href", result[0] + "&page=" + page)
                    });
                }
            });
        }

        function getPage() {
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;


                //总页数大于页码总数
                laypage.render({
                    elem: 'demo0'
                    , count: {{ all_page }}//数据总数
                    , curr: {{ page }}
                    , jump: function (obj, first) {
                        if (!first) {
                            //console.log(obj);
                            layer.msg('第' + obj.curr + '页');
                            {#page_ = obj.curr;#}
                            getListData(obj.curr);

                        }
                    }
                });
            });
        }
    </script>

    <script>
        $("img").lazyload({
            placeholder: "{% static 'imgs/14e2a32a6d8ff12b83c5fa88bcc61cad.jpg' %}"
        })
    </script>

    <script>
        $(function () {
            var movies1 = {{ movies1 }}
                console.log(movies1)

            $.each(movies1, function (index, val) {
                //console.log(index) //取出索引
                //console.log(val)  // 取出每个元素
                var movie_id = val.id
                //console.log(movie_id)
                $(".a3-" + val.id).click(function () {
                    //console.log(val.movie_name)
                    //var id = $(this).attr("data-id");
                    //console.log("点赞" + movie_id);
                    var c3 = ".a3-" + movie_id + " b p";
                    //console.log(c3)
                    var is_like = null;
                    var like_num;
                    if ($("i", this).hasClass("layui-icon-praise")) {
                        is_like = true
                        $("i", this).removeClass("layui-icon-praise")
                        $("i img", this).removeClass("hidden")
                    } else {
                        is_like = false
                        $("i", this).addClass("layui-icon-praise")
                        $("i img", this).addClass("hidden")
                    }
                    //console.log(is_like)
                    $.ajax({
                        url: "{% url 'user-like' %}",
                        data: {
                            is_like: is_like,
                            movie_id: movie_id
                        },
                        type: "post",
                        dataType: "json",
                        success: function (data, status, xhr) {
                            console.log(data["message"])
                            if (status == "success") {
                                if (data["code"] == "001") {
                                    layer.msg(data["message"]);
                                    like_num = data["like_num"]
                                    $(c3).text(like_num)
                                } else {
                                    layer.msg(data["message"]);
                                }
                            } else {
                                layer.msg("请求异常")
                            }
                        }

                    })
                })
            })

        })
    </script>
{% endblock %}