{% extends 'index-base.html' %}
{% load static %}
{% block title %}
    <title>电影详情 - layuiAdmin</title>
{% endblock %}
{% block my-style %}
    <style>
        #LAY-flow-demo .flow-default {
            width: 600px;
            height: 400px;
            overflow: auto;
            font-size: 0;
        }

        #LAY-flow-demo .flow-default li {
            display: inline-block;
            margin: 0 5px;
            font-size: 14px;
            width: 48%;
            margin-bottom: 10px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            background-color: #eee;
        }

        #LAY-flow-demo .flow-default img {
            width: 100%;
            height: 100%;
        }

        #LAY-flow-demo .site-demo-flow {
            width: 600px;
            height: 300px;
            overflow: auto;
            text-align: center;
        }

        #LAY-flow-demo .site-demo-flow img {
            width: 40%;
            height: 200px;
            margin: 0 2px 5px 0;
            border: none;
        }

        @media screen and (max-width: 768px) {
            #LAY-flow-demo .flow-default,
            #LAY-flow-demo .site-demo-flow {
                width: 100%;
            }

            #LAY-flow-demo .flow-default li {
                width: 45%
            }

            #LAY-flow-demo .site-demo-flow img {
                height: 150px;
            }
        }
    .movie div{
        margin-left: 20px;
    }
    .movie div span{
        font-size: 20px;
    }
    </style>
{% endblock %}
{% block index-lbt %}
{% endblock %}
{% block index-middle %}

    <div class="layui-fluid layadmin-message-fluid">
        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset2">
                <div class="layui-col-md12">
                    <div class="pad-btm">
                        <p class="fontColor"><a href="javascript:;">胡歌</a>为<span>普通照片</span>添加了新的<span>照片</span></p>
                        <p class="min-font">
                      <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">
                        <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a><span
                              lay-separator="">-</span>
                        <a href="javascript:;">从移动</a><span lay-separator="">-</span>
                        <a href="javascript:;">11分钟前</a>
                      </span>
                        </p>
                    </div>
                    <p>历经打磨，@索尼中国
                        再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！
                        索尼官网预售： O网页链接 索尼旗舰店预售：</p>
                    <img class="h-img" style="width: 80%; object-fit: cover;" src="{% static '' %}{{ movie.movie_img }}">
                    <!--电影名   译名(trans_name)    片名(movie_title)   年代(movie_age)  产地(movie_price)
            类别(movie_cate)      语言(movie_language)  字幕(movie_subtitle)  上映日期(movie_release_time)
            IMDb评分(movie_imdb)  豆瓣评分(movie_douban)    文件格式(movie_file_format)    视频尺寸(movie_video_size)
            文件大小(movie_file_size)    片长(movie_length)  导演(movie_director)  编剧(movie_screenwriter)
            主演(movie_starring)  标签(movie_label)  简介(简介)-->
                    <div class="movie">
                        <div><span class="movie-1">译名</span><span class="movie-2">{{ movie.trans_name }}</span></div>
                        <div><span class="movie-1">片名</span><span class="movie-2">{{ movie.movie_title }}</span></div>
                        <div><span class="movie-1" >年代</span><span class="movie-2">{{ movie.movie_age }}</span></div>
                        <div><span class="movie-1">产地</span><span class="movie-2">{{ movie.movie_price }}</span></div>
                        <div><span class="movie-1">类别</span><span class="movie-2">{{ movie.movie_cate }}</span></div>
                        <div><span class="movie-1">语言</span><span class="movie-2">{{ movie.movie_language }}</span></div>
                        <div><span class="movie-1">字幕</span><span class="movie-2">{{ movie.movie_subtitle }}</span></div>
                        <div><span class="movie-1">上映日期</span><span class="movie-2">{{ movie.movie_release_time }}</span></div>
                        <div><span class="movie-1">IMDB评分</span><span class="movie-2">{{ movie.movie_imdb }}</span></div>
                        <div><span class="movie-1">豆瓣评分</span><span class="movie-2">{{ movie.movie_douban }}</span></div>
                        <div><span class="movie-1">文件格式</span><span class="movie-2">{{ movie.movie_file_format }}</span></div>
                        <div><span class="movie-1">视频尺寸</span><span class="movie-2">{{ movie.movie_video_size }}</span></div>
                        <div><span class="movie-1">文件大小</span><span class="movie-2">{{ movie.movie_file_size }}</span></div>
                        <div><span class="movie-1">导演</span><span class="movie-2">{{ movie.movie_director }}</span></div>
                        <div><span class="movie-1">编剧</span><span class="movie-2">{{ movie.movie_screenwriter }}</span></div>
                        <div><span class="movie-1">主演</span><span class="movie-2">{{ movie.movie_starring }}</span></div>
                        <div><span class="movie-1">标签</span><span class="movie-2">{{ movie.movie_label }}</span></div>
                        <div><span class="movie-1">简介</span><span class="movie-2">{{ movie.简介 }}</span></div>
                    </div>


                </div>
                <hr>
                <div class="layui-col-md12">

                    <form class="layui-form" onsubmit="return false">
                        {% csrf_token %}
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入评论内容" class="layui-textarea" id="demo"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" style="overflow: hidden;">
                            <div class="layui-input-block layui-input-right">
                                <button class="layui-btn" lay-submit lay-filter="formDemo" id="fb-btn">发表</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content">
                    <div class="media-body">

                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <button class="layui-btn layui-btn-normal download-button" id="btn">下载地址</button>
                                </div>
                                <div class="layui-card-body down_url" hidden>
                                    <table style="BORDER-BOTTOM: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; TABLE-LAYOUT: fixed; BORDER-TOP: #cccccc 1px dotted; BORDER-RIGHT: #cccccc 1px dotted;font-size:15px"
                                           border="0" cellspacing="0" cellpadding="6" width=auto>
                                        <tr>
                                            <td style="WORD-WRAP: break-word" bgcolor="#fdfddf"><a href=""
                                                                                                   target="_self"
                                                                                                   thunderrestitle=""
                                                                                                   onclick="return OnDownloadClick_Simple(this,2);"
                                                                                                   oncontextmenu="ThunderNetwork_SetHref(this)"
                                                                                                   id="a-down-url">没有下载权限</a>
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" id="btn1">居中弹出</button>-->
                    <div class="add-comment"></div>
                    <div class="model-list">
                        <ul id="LAY_demo1"></ul>
                    </div>
                    <!--<div class="media-body">
                        <a href="javascript:;" class="media-left" style="float: left;">
                            <img src="../../layuiadmin/style/res/template/portrait.png" height="46px" width="46px">
                        </a>
                        <div class="pad-btm">
                            <p class="fontColor"><a href="javascript:;">胡歌</a></p>
                            <p class="min-font">
                  <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">
                    <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a><span lay-separator="">-</span>
                    <a href="javascript:;">从移动</a><span lay-separator="">-</span>
                    <a href="javascript:;">11分钟前</a>
                  </span>
                            </p>
                        </div>
                        <p class="message-text">历经打磨，@索尼中国
                            再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！
                            索尼官网预售： O网页链接 索尼旗舰店预售：</p>

                    </div>-->

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block my-js-code %}
    <script>

        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }


        $(function () {
            $("#btn").click(function () {
                var result = GetRequest()
                console.log(result["movie_id"])
                var url = window.location.href;
                var id = url.split("=");
                console.log(url);
                $.ajax({
                    url: "{% url 'movie_down_url' %}",
                    data: {
                        movie_id: result["movie_id"]
                    },
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (status == "success") {
                            if (data["code"] == "001") {
                                var datas = data["datas"]
                                var movie_down_url = datas["movie_down_url"]
                                $(".down_url").removeAttr("hidden")
                                $("#a-down-url").text(movie_down_url)
                                $("#a-down-url").attr("href", movie_down_url)
                            }
                            if (data["code"] == "004") {
                                layer.msg(data["message"]);
                                setTimeout(function () {
                                    $(location).attr("href", data["login_url"])
                                }, 1000);
                            }
                            if (data["code"] == "005") {
                                layer.msg(data["message"]);
                            }
                        }
                    }
                })
            })
            $("#fb-btn").click(function () {

                var result = GetRequest();
                var pl_content = layui.layedit.getContent(index)
                console.log(pl_content)
                if (!pl_content) {
                    layer.msg("评论不能为空")
                } else {
                    $.ajax({
                        url: "{% url 'user_pl' %}",
                        type: "post",
                        data: {
                            pl_content: layui.layedit.getContent(index),
                            {#pl_content: layui.layedit.getText(index),#}
                            movie_id: result["movie_id"]
                        },
                        dataType: "json",
                        success: function (data, status, xhr) {
                            if (status == "success") {
                                if (data["code"] == "001") {
                                    layer.msg(data["message"])
                                    setTimeout(function () {
                                        $(location).attr("href", window.location.href)
                                    }, 2000);
                                } else {
                                    layer.msg(data["message"])
                                }
                            }
                        },
                        error: function () {

                        }

                    })
                }

            })
            window.onload = function () {
                var result = GetRequest();
                //事件内容
                $.ajax({
                    url: "{% url 'user_pl' %}",
                    data: {
                        "movie_id": result["movie_id"]
                    },
                    dataType: "json",
                    timeout: 1000,
                    success: function (data, status, xhr) {
                        if (status == "success") {
                            var datas = data["datas"];
                            layui.use('flow', function () {
                                //console.log(datas.length)
                                var page1 = datas.length / 5;
                                //console.log(page1)
                                var pages = Math.ceil(page1);
                                //console.log(pages)
                                var flow = layui.flow;
                                flow.load({
                                    elem: '#LAY_demo1' //流加载容器

                                    , isAuto: true
                                    , done: function (page, next) { //执行下一页的回调
                                        //模拟数据插入
                                        setTimeout(function () {
                                            var lis = [];
                                            for (var i = (page - 1) * 5; i < datas.length && i < (page * 5); i++) {
                                                var cate_html = '<li><div class="media-body">\n' +
                                                    '                    <a href="javascript:;" class="media-left" style="float: left;">\n' +
                                                    '                        <img src="{% static '' %}' + datas[i].user_img + '" height="46px" width="46px">\n' +
                                                    '                    </a>\n' +
                                                    '                    <div class="pad-btm">\n' +
                                                    '                        <p class="fontColor"><a href="javascript:;">' + datas[i].user_name + '</a></p>\n' +
                                                    '                        <p class="min-font">\n' +
                                                    '              <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">\n' +
                                                    '                ' + datas[i].logn_type + '<span lay-separator="">-</span>\n' +
                                                    '                <a href="javascript:;">从移动</a><span lay-separator="">-</span>\n' +
                                                    '                <a href="javascript:;">' + datas[i].movie_date + '</a>\n' +
                                                    '              </span>\n' +
                                                    '                        </p>\n' +
                                                    '                    </div>\n' +
                                                    '                    <p class="message-text">' + datas[i].comment_content + '</p>\n' +
                                                    '                </div></li>';
                                                lis.push(cate_html)
                                            }
                                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                                            next(lis.join(''), page < pages); //假设总页数为 10
                                        }, 500);
                                    }
                                });

                            });
                        }
                    }

                })

            }


        })

    </script>
    <script>
        layui.use('layedit', function () {
            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '{% url 'rich_upload' %}' //接口url
                    , type: 'post' //默认post
                }
            });
            index = layedit.build('demo'); //建立编辑器

        });

    </script>
    <script>
        $(function () {
            $('#btn1').click(function () {

                var result = GetRequest()
                $.ajax({
                    url: "{% url 'movie_down_url' %}",
                    data: {
                        movie_id: result["movie_id"]
                    },
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (status == "success") {
                            if (data["code"] == "001") {
                                var datas = data["datas"]
                                var movie_down_url = datas["movie_down_url"]
                                {#$(".down_url").removeAttr("hidden")#}
                                {#$(".down_url").text(movie_down_url)#}

                                layer.open({
                                    //type: 1,
                                    //title: "协议内容",
                                    closeBtn: 0,
                                    shadeClose: true,
                                    {#area: ['600px', '400px'], //宽高#}
                                    content: movie_down_url,
                                    title: '用户协议',
                                    {#//content: '可以填写任意的layer代码 可以填写任意的layer代码 可以填写任意的layer代码可以填写任意的layer代码可以填写任意的layer代码'#}
                                });
                                $(".layui-layer-btn0").attr("href", movie_down_url)
                            }
                            if (data["code"] == "004") {
                                layer.msg(data["message"]);
                                setTimeout(function () {
                                    $(location).attr("href", data["login_url"])
                                }, 1000);
                            }
                            if (data["code"] == "005") {
                                layer.msg(data["message"]);
                            }
                        }
                    }
                })
                //页面层


                //layer.alert('见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴见到你真的很高兴', {icon: 6});
            })

        })

    </script>

{% endblock %}