{% extends 'base.html' %}
{% block title %}
    <title>修改密码 - layuiAdmin</title>
{% endblock %}
{% block my-style %}
    <style>
        #pwd_len {
            color: red;
        }
    </style>
{% endblock %}
{% block middle %}
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">修改密码</div>
            <div class="layui-card-body" pad15="">

                <div class="layui-form" lay-filter="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="oldPassword" lay-verify="required" lay-vertype="tips"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" lay-verify="pass" lay-vertype="tips"
                                   autocomplete="off" id="LAY_password" class="layui-input">
                            <div class="" style="display:none" id="pwd_len">6到16个字符</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="repassword" lay-verify="repass" lay-vertype="tips"
                                   autocomplete="off" class="layui-input">
                            <div style="color: red" class="pwd-wrong" hidden></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="setmypass" id="btn">确认修改</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block my-js-code %}
    <script>
        $(function () {
            //判断第一次输入密码长度是否符合要求
            $("input[name='password']").blur(function () {
                var pwd = $(this).val();
                if (pwd.length > 16) {
                    $("#pwd_len").text("密码长度过长，请重新输入6到16个字符");
                    $("#pwd_len").removeAttr("style")
                } else {
                    $("#pwd_len").attr("style", "display:none")
                }
                if (pwd.length < 6) {
                    $("#pwd_len").text("密码长度过短，请重新输入6到16个字符");
                    $("#pwd_len").removeAttr("style")
                } else {
                    $("#pwd_len").attr("style", "display:none")
                }
            });
            // 判断两次输入密码是否一致
            $("input[name='repassword']").blur(function () {
                var pwd = $("input[name='password']").val();
                var pwd1 = $(this).val();
                console.log(pwd);
                console.log(pwd1);
                if (pwd == pwd1) {
                    $(".pwd-wrong").attr("hidden", "")
                } else {
                    $(".pwd-wrong").text("两次密码输入不一致，请重新输入！");
                    $(".pwd-wrong").removeAttr("hidden")
                }
            });

            $("#btn").click(function () {
                $.ajax({
                    url: "{% url 'update_pwd' %}",
                    type: "post",
                    data: {
                        pwd: $("input[name='oldPassword']").val(),
                        new_pwd: $("input[name='password']").val()
                    },
                    timeout: 3000,
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (status = "success") {
                            if (data["code"] == "001") {
                                layer.msg(data["message"])
                                setTimeout(function () {
                                    $(location).attr("href", "{% url 'login' %}")
                                }, 3000);
                            }else{
                                layer.msg(data["message"])
                            }
                        }
                    },
                    error: function (xhr, error) {
                        
                    }
                })

            })
        })
    </script>
{% endblock %}